$waterColor: #00bbf9;
$heatColor: #f15bb5;
$funColor: #fee440;

$bgColor: lightskyblue;
$bgSecondaryColor: skyblue;

$theme-colors: (
"water": $waterColor,
"heat": $heatColor,
"fun": $funColor,
);

@import "../bootstrap-4.5.0/scss/bootstrap.scss";


// ------------- PAGE -------------
body {
  background: linear-gradient($bgColor, $bgSecondaryColor);
  min-height: 100vh;
  position: relative;
  color: white;
}

i {
  font-size: 1.33em;
}

.auxiliaryButton {
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

// ------------- TITLE -------------
h1, h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

header {
  align-items: center;
  justify-content: center
}


// ------------- SIDEBARS -------------
.iconAndStatus {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media-breakpoint-up (md) {
    margin-top: 30px;
  }
  min-width: 28%;

  & i {
    margin-left: 12px;
    margin-right: 5px;
    @include media-breakpoint-up (md) {
      margin-left: 0;
      margin-right: 12px;
    }
    text-align: center;
  }

  & > div {
    width: 100%;
  }
}

#statusBarsContainer,
#highScoresContainer {
  display: flex;
  flex-direction: column;
}

// STATUS BARS
#statusBarsContainer {
  @include media-breakpoint-down(sm) {
    flex-direction: row;
  }
}

#waterContainer i {
  color: $waterColor;
}
#heatContainer i {
  color: $heatColor;
}
#funContainer i {
  color: $funColor;
}

// HIGHSCORES
#highScoresContainer {
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: row-reverse;
  }

  button:hover {
    color: black;
  }
}

// superposes the collapse icon on the scroll icon
#highScoreHeader {
  position: relative;
}

#highScoreDelete {
  color: white;
  padding: 2px;
  margin-bottom: 12px;
}

#highScoreCollapse {
	position: absolute;
	left: 7%;
	top: 24%;

  color: $bgColor;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.deathCausesIcons {
  color: $danger;
  width: 100%;
  text-align: center;
  margin-right: 10px;
}

#ageContainer {
  font-size: 1.5em;
}

.flashNew {
  animation: flash 2s linear;
}

@keyframes flash {
  0% { box-shadow: none; }
  50% { box-shadow: 0px 0px 3px 5px yellow; }
  100% { box-shadow: none; }
}

// ------------- CENTER VIEW : PET -------------
#petViewContainer {
  @include media-breakpoint-up(md) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  // makes the cloud inside periodically smaller and bigger
  // to mimic breathing
  animation-name: breathing;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  padding: 0.5%;
}

@keyframes breathing {
  from { padding: 0.5%; }
  to {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.fillTransparent {
  fill: transparent !important;
}

// initial size : height="378.29" width="767.92"
#cloud {
  overflow: visible;

  & path {
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
    }
  }
}

// for the death animation
.deathAnimation {
  animation-name: fadeOutDown;
  animation-fill-mode: forwards;

  #leftEye {
    animation-delay: 1s;
    animation-duration: 1s;
  }

  #rightEye {
    animation-delay: 1s;
    animation-duration: 2s;
  }
}

// animations actived when re-filling the bars
// the eyes briefly take the adequate color
.flashWater {
  animation: flashWater 1s linear;
}

.flashHeat {
  animation: flashHeat 1s linear;
}

.flashFun {
  animation: flashFun 1s linear;
}

.animateFull {
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

@keyframes flashWater {
  0% { fill: black; }
  50% { fill: $waterColor; }
  100% { fill: black; }
}

@keyframes flashHeat {
  0% { fill: black; }
  50% { fill: $heatColor; }
  100% { fill: black; }
}

@keyframes flashFun {
  0% { fill: black; }
  50% { fill: $funColor; }
  100% { fill: black; }
}



// ------------- GAME CONTROLS : BUTTONS -------------
#buttonsContainer {
  & button {
    width: 70px;
    height: 50px;
    margin-bottom: 40px;

    color: white;

    &.disabled {
      cursor: not-allowed !important;
    }
  }
}

#buttonsContainer, #consoleContainer {
  & > div {
    display: flex;
    justify-content: center;

    & > * {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

// ------------- GAME CONTROLS : CONSOLE -------------
#console {
  flex-direction: column;

  input, textarea {
    background-color: $dark;
    color: white;
  }
}

#consoleInput {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  text-align: center;
}

#consoleOutput {
  font-size: small;
  font-family: 'Epilogue', sans-serif;
}

#consoleButton {
  left: 20px;

  height: 50px;
  @include media-breakpoint-down(sm) {
    font-size: 0.5rem;
    height: 25px;
  }
}
// ------------- HELP -------------
#helpButton, #consoleButton {
  position: absolute;

  @include media-breakpoint-up(md) {
    bottom: 20px;
    width: 50px;
  }

  @include media-breakpoint-down(sm) {
    top: 27px;
    width: 25px;
  }
}

#helpButton {
  right: 20px;

  font-weight: bolder;
  @include media-breakpoint-up(md) {
    font-size: 2em;
  }
}


img {
  width: 80%;
  border-radius: 10px;
}

.modal-content {
  text-align: center;

  background: rgba(0,5,50,0.7);
  color: white;
}

.modal-header {
  border-bottom: 3px solid #dee2e6;
}

.close, .arrow {
  cursor: pointer;
  color: white;
}

.modal-footer {
  @include media-breakpoint-down(sm) {
    justify-content: space-around;
  }
}

// ------------- RESTART BUTTON -------------
#restartButton {
  opacity: 0;
  transition: opacity 1s;

  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
}


// ------------- FONTS -------------
@font-face {
  font-family: Epilogue;
  src: url('../font/Epilogue/Epilogue-VariableFont_wght.ttf');
}
